@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/MyCustomFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .font-custom {
    font-family: 'MyCustomFont', sans-serif;
  }
  