.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 60%;
    background-color: #69b50c;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.9s;
}
